.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    max-width: 400px;
    background-color: #f8f9fa;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.custom-card .card-body {
    text-align: center;
    padding: 15px;
}

.card-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.highlight-text {
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.card-text {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 0.5rem;
}
